* {
    box-sizing: border-box;
    /* border: solid 1px red; */
}

/* Font CSS */

a {
    text-decoration: underline;
    color: aquamarine;
    font-size: 16px;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    color: gray;
    font-size: 21px;
}

body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* Utility CSS */

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

/* Content */

#link {
    margin-bottom: 1rem;
}

/* Footer */

.footer {
    text-align: right;
    color: gray;
}